<% include header %>

<body>

    <% include infobars %>

<div class="content">
<% if (success == 1) { %>
  <div class="alert alert-success" role="alert">Product has been added successfully !</div>
<% } %>
<% if (success == 0) { %>
  <div class="alert alert-danger" role="alert">Error connecting to the database !</div>
<% } %>

<form class="form-horizontal" action="/post/updateproduct" method="post">
  
  <input hidden value="<%= products[0].productid %>" name="productid"></input>
  
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Product Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="name" name="name" required value="<%= products[0].name %>" placeholder="Product Name">
    </div>
  </div>
  
  <div class="form-group">
    <label for="stock" class="col-sm-2 control-label">Stock</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="stock" value="<%= products[0].stock %>" placeholder="Stock" name="stock" required>
    </div>
  </div>
 
  <div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price &#8377</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="price" value="<%= products[0].price %>" placeholder="Price" name="price" required>
    </div>
  </div>

  <div class="form-group">
    <label for="supplier" class="col-sm-2 control-label">Supplier</label>
    <div class="col-sm-3">
      <select class="form-control" id="supplier" name="supplier">
        <% for (var i = 0; i < suppliers.length; i++){ %>
           <% if (products[0].supplierName == suppliers[i].name) { %>
              <option selected value="<%= suppliers[i].name %>"><%= suppliers[i].name %></option>
          <% } else { %>
              <option value="<%= suppliers[i].name %>"><%= suppliers[i].name %></option>
        <% } } %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="expiry" class="col-sm-2 control-label">Expiry Date</label>
    <div class="col-sm-3">
      <input type="date" class="form-control" id="expiry" placeholder="YYYY-MM-DD" name="expiry" required value="<% function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
} %><%= formatDate(products[0].expiry) %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Update Product</button>
    </div>
  </div>
</form>
</div>
</body>
</html>