<% include header %>

<body>

    <% include infobars %>

    
    <!-- ----------- CONTENT ------------- -->
    <div class="content">
    <form action="/products/search" id='product-search' method="get" style="margin-top: -50px; margin-bottom: 50px;">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for a Invoice..." id="product-search-input" required name="keyword">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                  </span>
                </div>
                  </form>
                  <% if (invoices.length == 0){ %>
                  <h3>No Invoice Found !</h3>
                  <% } else { %>
        <table class="table pure-table">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Customer Name</th>
                    <th>Number of Products</th>
                    <th>Invoice Amount</th>
                    <th>Invoice Date</th>
                </tr>
            </thead>
            
            <tbody>
            <% for (var i = 0; i < invoices.length; i++){ %>       
                <tr onclick="location.href='/invoices/<%= invoices[i].number %>'">
                    <td><%= invoices[i].number %></td>
                    <td><%= invoices[i].custname %></td>
                    <td><%= invoices[i].productid.length %></td>
                    <td><%= invoices[i].grandtotal %></td>
                    <td><%= (invoices[i].date.toDateString()).substr(4) %></td>
                </tr></a>
                
            <% } %>
            </tbody>
        </table>
        <a href="/invoices/new"><div class="button">CREATE NEW INVOICE</div></a>

<% } %>
                
            
    </div>
</body>

</html>