<% include header %>

<body>

    <% include infobars %>

    
    <!-- ----------- CONTENT ------------- -->
    <div class="content">
    <form action="/products/search" id='product-search' method="get" style="margin-top: -50px; margin-bottom: 50px;">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for a product..." id="product-search-input" required name="keyword">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                  </span>
                </div>
                  </form>
                  <% if (products.length == 0){ %>
                  <h3>No Product Found !</h3>
                  <% } else { %>
        <table class="table pure-table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Supplier</th>
                    <th>Expiry</th>
                </tr>
            </thead>

            <tbody>
            <% for (var i = 0; i < products.length; i++){ %>       
                <tr onclick="location.href='/products/<%= products[i].name %>'">
                    <td>MED<%= ("000" + products[i].productid).substr(-3) %></td>
                    <td><%= products[i].name %></td>
                    <td><%= products[i].stock %></td>
                    <td>&#8377 <%= products[i].price %></td>
                    <td><%= products[i].supplierName %></td>
                    <td><%= products[i].expiry.toDateString() %></td>
                </tr></a>
                
            <% } %>
            </tbody>
        </table>
        <a href="/addproduct"><div class="button">ADD NEW PRODUCT</div></a>

<% } %>
                
            
    </div>
</body>

</html>